<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>aip11085747ass1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Hello world</web-resource-name>
      <description>admin</description>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>These users can use hello JSP</description>
      <role-name>hellousers</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>ass1 admin</realm-name>
  </login-config>
  <security-role>
    <description>Hello JSP users</description>
    <role-name>hellousers</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>ListCat</display-name>
    <servlet-name>ListCat</servlet-name>
    <servlet-class>zk.uts.aip.ass1.servlet.ListCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCat</servlet-name>
    <url-pattern>/ListCat</url-pattern>
    <url-pattern>/LC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryProducts</display-name>
    <servlet-name>CategoryProducts</servlet-name>
    <servlet-class>zk.uts.aip.ass1.servlet.CategoryProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryProducts</servlet-name>
    <url-pattern>/CategoryProducts</url-pattern>
    <url-pattern>/CP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductShow</display-name>
    <servlet-name>ProductShow</servlet-name>
    <servlet-class>zk.uts.aip.ass1.servlet.ProductShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductShow</servlet-name>
    <url-pattern>/ProductShow</url-pattern>
    <url-pattern>/PS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingCart</display-name>
    <servlet-name>ShoppingCart</servlet-name>
    <servlet-class>zk.uts.aip.ass1.servlet.ShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/ShoppingCart</url-pattern>
    <url-pattern>/SC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseEnterInfo</display-name>
    <servlet-name>PurchaseEnterInfo</servlet-name>
    <servlet-class>zk.uts.aip.ass1.servlet.PurchaseEnterInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseEnterInfo</servlet-name>
    <url-pattern>/PurchaseEnterInfo</url-pattern>
    <url-pattern>/PEI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrder</display-name>
    <servlet-name>ViewOrder</servlet-name>
    <servlet-class>zk.uts.aip.ass1.servlet.ViewOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrder</servlet-name>
    <url-pattern>/ViewOrder</url-pattern>
    <url-pattern>/VO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminList</display-name>
    <servlet-name>AdminList</servlet-name>
    <servlet-class>zk.uts.aip.ass1.servlet.AdminList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminList</servlet-name>
    <url-pattern>/AdminList</url-pattern>
    <url-pattern>/admin/AL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminOrderShow</display-name>
    <servlet-name>AdminOrderShow</servlet-name>
    <servlet-class>zk.uts.aip.ass1.servlet.AdminOrderShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderShow</servlet-name>
    <url-pattern>/AdminOrderShow</url-pattern>
    <url-pattern>/admin/AOS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateOrder</display-name>
    <servlet-name>AdminUpdateOrder</servlet-name>
    <servlet-class>zk.uts.aip.ass1.servlet.AdminUpdateOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateOrder</servlet-name>
    <url-pattern>/AdminUpdateOrder</url-pattern>
    <url-pattern>/admin/AUO</url-pattern>
  </servlet-mapping>
</web-app>